In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
%matplotlib inline

# For reading stock data from yahoo

from pandas_datareader.data import DataReader

# For time stamps
from datetime import datetime

In [2]:
# The stocks we will use for this analysis

tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

# Setting up start and end times to grab data
end = datetime.now()
start = datetime(end.year-1, end.month, end.day)


# For loop for grabbing yahoo finance data and setting as a dataframe

for stock in tech_list:
    globals() [stock] = DataReader(stock, 'yahoo', start, end)

#### Apple Shares

In [3]:
company_list = [AAPL, GOOG, MSFT, AMZN]
company_name = ['APPLE', 'GOOGLE', 'MICROSOFT', 'AMAZON']

for company, com_name in zip(company_list, company_name):
    company['Company_Name'] = com_name
company

,High,Low,Open,Close,Volume,Adj Close,Company_Name
Date,,,,,,,
2021-01-07,3208.540039,3155.000000,3157.000000,3162.159912,3514500,3162.159912,AMAZON
2021-01-08,3190.639893,3142.199951,3180.000000,3182.699951,3537700,3182.699951,AMAZON
2021-01-11,3156.379883,3110.000000,3148.010010,3114.209961,3683400,3114.209961,AMAZON
2021-01-12,3142.139893,3086.000000,3120.000000,3120.830078,3514600,3120.830078,AMAZON
2021-01-13,3189.949951,3122.080078,3128.439941,3165.889893,3321200,3165.889893,AMAZON
...,...,...,...,...,...,...,...
2022-01-03,3414.070068,3323.209961,3351.000000,3408.090088,3176000,3408.090088,AMAZON
2022-01-04,3428.000000,3326.989990,3408.760010,3350.439941,3536300,3350.439941,AMAZON
2022-01-05,3342.530029,3287.139893,3337.659912,3287.139893,3215100,3287.139893,AMAZON
2022-01-06,3296.000000,3238.739990,3269.010010,3265.080078,2597900,3265.080078,AMAZON
2022-01-07,3304.864990,3240.790039,3276.780029,3251.080078,2283437,3251.080078,AMAZON